body {
    background-image: url('../assets/texture.jpg');
    background-size: cover;
    min-width: 1000px;
}

#header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20%;
    position: relative;
}

h1 {
    font-family: 'Viaoda Libre';
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

li {
    font-weight: 500;
    font-size: 1.5em;
    width: 10vw;
    min-width: 120px;
    text-align: center;
    margin: 0 5%;
    padding: 1% 0%;
    color: white;
    background-color: RGBA(0,0,0,0.4);
    border-radius: 50px;
    cursor: pointer;
}

.current {
    background-color: RGBA(0,0,0,0.7);
    box-shadow: 0 0 5px 2px #739730;
}

p {
    font-family: 'Benne';
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin: 0;
}

#background {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    height: 666px;
    max-width: 1000px;
    background-image: linear-gradient(to bottom, RGBA(0,0,0,0.2), 
    RGBA(0,0,0,0.2)), url('../assets/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.home-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(-1000px);
    transition: transform 0.7s;
}

.top-border {
    margin: 0 10%;
    position: relative;
    z-index: 1;
    top: -5%;
    width: 40%;
}

.bot-border {
    margin: 0 10%;
    position: relative;
    z-index: 1;
    top: 5%;
    width: 40%;
    transform: scale(1, -1);
}

.copy {
    position: absolute;
    margin: 0 10%;
    padding: 5%;
    color: white;
    background-color: RGBA(0,0,0,0.75);
    border-radius: 10px;
}

.menu-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(-1000px);
    transition: transform 0.7s;
}

.menu-item {
    width: 17%;
    margin: 0 10%;
    padding: 2%;
    color: white;
    background-color: RGBA(0,0,0,0.75);
    border-radius: 10px;
}

.menu-item p {
    font-size: 17px;
}

.menu-item img {
    width: 100%;
}

.contact-box {
    margin: 0 20%;
    padding: 5%;
    color: white;
    background-color: RGBA(0,0,0,0.75);
    border-radius: 10px;
    transform: translateY(-1000px);
    transition: transform 0.7s;
}

.contact-box p {
    line-height: 1.5em;
}

.slide-in {
    transform: translateY(0);
}