body {
    background-image: url('texture.jpg');
    background-size: cover;
}

#header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20%;
}

h1 {
    font-family: 'Viaoda Libre';
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

li {
    /* font-family: 'Benne'; */
    font-weight: 500;
    font-size: 1.5em;
    width: 200px;
    text-align: center;
    margin: 0 5%;
    padding: 3% 7%;
    color: white;
    background-color: RGBA(0,0,0,0.4);
    border-radius: 50px;
}

.current {
    background-color: RGBA(0,0,0,0.7);
    box-shadow: 0 0 3px 4px blue;
}

p {
    font-family: 'Benne';
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 2%;
    
}

#background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    height: 666px;
    max-width: 1000px;
    background-image: linear-gradient(to bottom, RGBA(0,0,0,0.2), 
    RGBA(0,0,0,0.2)), url('restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

#copy {
    margin: 0 10%;
    padding: 5%;
    color: white;
    background-color: RGBA(0,0,0,0.75);
    border-radius: 10px;
}

.menu-item {
    width: 17%;
    margin: 0 10%;
    padding: 2%;
    color: white;
    background-color: RGBA(0,0,0,0.75);
    border-radius: 10px;
}

.menu-item p {
    font-size: 17px;
}

.menu-item img {
    width: 100%;
}

#contact-box {
    margin: 0 20%;
    padding: 5%;
    color: white;
    background-color: RGBA(0,0,0,0.75);
    border-radius: 10px;
}